<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
      <h1 class="display-3">Acerca de</h1>
      <p class="lead">Esta app fue desarrollada por un proyecto en el ramo integracion III de la carrera Ingnieria civil informatica de la universidad catolica de Temuco</p>
    </div>
  </div>
  
  
  <h1 class="animated fadeIn fast">Creadores:</h1>
  <hr>
  <p class="animated fadeIn"> Patricio Torres</p>
  <p class="animated fadeIn"> Roberto Lobos</p>
  <p class="animated fadeIn"> Felipe Hernández</p>
  